<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Contact Message</h1>
    <p>First Name: <%= @contact.first_name %></p>
    <p>Last Name: <%= @contact.last_name %></p>
    <p>Message: <%= @contact.text_content %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Phone Number: <%= @contact.phone_number %></p>
  </body>
</html>
