<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Partner Message</h1>
    <p>First Name: <%= @partner.first_name %></p>
    <p>Last Name: <%= @partner.last_name %></p>
    <p>Email: <%= @partner.email %></p>
    <p>Organisation Name: <%= @partner.organ_name %></p>
    <p>Address: <%= @partner.address %></p>
  </body>
</html>
