<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Volunteer Application</h1>
    <p>First Name: <%= @volunteer.first_name %></p>
    <p>Last Name: <%= @volunteer.last_name %></p>
    <p>Email: <%= @volunteer.email %></p>
    <p>Phone Number: <%= @volunteer.phone_number %></p>
    <p>Alt Number: <%= @volunteer.alt_number %></p>
    <p>Address: <%= @volunteer.address %></p>
    <p>State: <%= @volunteer.state %></p>
    <p>City: <%= @volunteer.city %></p>
    <p>Country: <%= @volunteer.country %></p>
    <p>Instagram: <%= @volunteer.instagram %></p>
    <p>Facebook: <%= @volunteer.facebook %></p>
    <p>Shirt Size: <%= @volunteer.shirt_size %></p>
    <p>Occupation: <%= @volunteer.occupation %></p>
    <p>Birthday: <%= @volunteer.birthday %></p>
    <p>Why do you want to volunteer with us?: <%= @volunteer.why_volunteer %></p>
    <p>Are you comfortable handling livestock?: <%= @volunteer.comfort %></p>
    <p>Which of the program are you interested in volunteering for: <%= @volunteer.program_type %></p>
    <p>Do you have any skills or expertise that you would believe would benefit the agricultural recovery program?: <%= @volunteer.skills %></p>
    <p> Do you have any experience in farming?: <%= @volunteer.experience %></p>
    <p>Are you open to travelling outside lof Lagos?: <%= @volunteer.travel %></p>





  </body>
</html>
